.font-20-700 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.font-14-400 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.font-16-400 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.font-40-700 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.font-20-500 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.font-18-500 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.font-50-600 {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.font-40-600 {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.font-16-500 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
